In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import yfinance as yf

In [18]:
apple=yf.download("AAPL","2018-01-01","2022-01-01")
apple

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,42.540001,43.075001,42.314999,43.064999,40.670982,102223600
2018-01-03,43.132500,43.637501,42.990002,43.057499,40.663898,118071600
2018-01-04,43.134998,43.367500,43.020000,43.257500,40.852776,89738400
2018-01-05,43.360001,43.842499,43.262501,43.750000,41.317902,94640000
2018-01-08,43.587502,43.902500,43.482498,43.587502,41.164433,82271200
...,...,...,...,...,...,...
2021-12-27,177.089996,180.419998,177.070007,180.330002,178.065659,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.038712,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,177.127579,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,175.962387,59773000
2021-12-31,178.089996,179.229996,177.259995,177.570007,175.340317,64062300

In [6]:
apple.Open

Date
2018-01-02     42.540001
2018-01-03     43.132500
2018-01-04     43.134998
2018-01-05     43.360001
2018-01-08     43.587502
                 ...
2021-12-27    177.089996
2021-12-28    180.160004
2021-12-29    179.330002
2021-12-30    179.470001
2021-12-31    178.089996
Name: Open, Length: 1008, dtype: float64

sell=-1, buy=1, no_position=0

10,20,15,8: 
0, 1, 2, 3
max,min
0: 10 10-> no position
1: 20 10-> buy signal-> 
2: 20 10-> no position signal
3: 20 8-> sell signal

buy-> long
sell-> short

open-> 20 entries
signals-> 19 entries

In [7]:
def strategy(data):
    minimum=data['Open'].iloc[0]
    maximum=data['Open'].iloc[0]
    signals=[]
    signals.append(0)
    for i in range(1,len(data)):
        if(data['Open'].iloc[i]<=minimum):
            signals.append(-1)
            minimum=data['Open'].iloc[i]
        elif(data['Open'].iloc[i]>=maximum):
            signals.append(1)
            maximum=data['Open'].iloc[i]
        else:
            signals.append(0)
    data['signals']=signals
    return data

In [8]:
apple=strategy(apple)
apple

,Open,High,Low,Close,Adj Close,Volume,signals
Date,,,,,,,
2018-01-02,42.540001,43.075001,42.314999,43.064999,40.670975,102223600,0
2018-01-03,43.132500,43.637501,42.990002,43.057499,40.663898,118071600,1
2018-01-04,43.134998,43.367500,43.020000,43.257500,40.852783,89738400,1
2018-01-05,43.360001,43.842499,43.262501,43.750000,41.317894,94640000,1
2018-01-08,43.587502,43.902500,43.482498,43.587502,41.164436,82271200,1
...,...,...,...,...,...,...,...
2021-12-27,177.089996,180.419998,177.070007,180.330002,178.065659,74919600,0
2021-12-28,180.160004,181.330002,178.529999,179.289993,177.038712,79144300,0
2021-12-29,179.330002,180.630005,178.139999,179.380005,177.127594,62348900,0
2021-12-30,179.470001,180.570007,178.089996,178.199997,175.962418,59773000,0
2021-12-31,178.089996,179.229996,177.259995,177.570007,175.340317,64062300,0

0,1,1,1,1,-1,-1,-1,1,1,1-> 0,1,0,0,0,-1,-1,1,1,0,0

//100-> 200 rupees-> 100 rupees

In [9]:
apple['signals']

Date
2018-01-02    0
2018-01-03    1
2018-01-04    1
2018-01-05    1
2018-01-08    1
             ..
2021-12-27    0
2021-12-28    0
2021-12-29    0
2021-12-30    0
2021-12-31    0
Name: signals, Length: 1008, dtype: int64

In [13]:
current=apple['signals'].iloc[0]
for i in range(1,len(apple)):
    if(current==1):
        if(apple['signals'].iloc[i]==1):
            apple['signals'].iloc[i]=0
        elif(apple['signals'].iloc[i]==-1):
            current=0
    elif(current==-1):
        if(apple['signals'].iloc[i]==-1):
            apple['signals'].iloc[i]=0
        elif(apple['signals'].iloc[i]==1):
            current=0
        
    else:
        if(apple['signals'].iloc[i]==1):
            current=1
        elif(apple['signals'].iloc[i]==-1):
            current=-1

C:\Users\tanus\AppData\Local\Temp\ipykernel_1144\1001628727.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apple['signals'].iloc[i]=0
C:\Users\tanus\AppData\Local\Temp\ipykernel_1144\1001628727.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apple['signals'].iloc[i]=0

In [16]:
apple.head(50)

,Open,High,Low,Close,Adj Close,Volume,signals
Date,,,,,,,
2018-01-02,42.540001,43.075001,42.314999,43.064999,40.670975,102223600,0
2018-01-03,43.132500,43.637501,42.990002,43.057499,40.663898,118071600,1
2018-01-04,43.134998,43.367500,43.020000,43.257500,40.852783,89738400,0
2018-01-05,43.360001,43.842499,43.262501,43.750000,41.317894,94640000,0
2018-01-08,43.587502,43.902500,43.482498,43.587502,41.164436,82271200,0
2018-01-09,43.637501,43.764999,43.352501,43.582500,41.159718,86336000,0
2018-01-10,43.290001,43.575001,43.250000,43.572498,41.150265,95839600,0
2018-01-11,43.647499,43.872501,43.622501,43.820000,41.383999,74670800,0
2018-01-12,44.044998,44.340000,43.912498,44.272499,41.811363,101672400,0
2018-01-16,44.474998,44.847500,44.035000,44.047501,41.598869,118263600,0
2018-01-17,44.037498,44.812500,43.767502,44.775002,42.285908,137547200,0
2018-01-18,44.842499,45.025002,44.562500,44.814999,42.323696,124773600,0
2018-01-19,44.652500,44.895000,44.352501,44.615002,42.134811,129700400,0
2018-01-22,44.325001,44.445000,44.150002,44.250000,41.790100,108434400,0
2018-01-23,44.325001,44.860001,44.205002,44.259998,41.799538,130756400,0
2018-01-24,44.312500,44.325001,43.299999,43.555000,41.133728,204420400,0
2018-01-25,43.627499,43.737499,42.632500,42.777500,40.399460,166116000,0
2018-01-26,43.000000,43.000000,42.514999,42.877499,40.493896,156572000,0
2018-01-29,42.540001,42.540001,41.767502,41.990002,39.655750,202561600,-1
2018-01-30,41.382500,41.842499,41.174999,41.742500,39.421997,184192800,-1
2018-01-31,41.717499,42.110001,41.625000,41.857498,39.530598,129915600,0
2018-02-01,41.792500,42.154999,41.689999,41.945000,39.613235,188923200,0
2018-02-02,41.500000,41.700001,40.025002,40.125000,37.894409,346375200,0
2018-02-05,39.775002,40.970001,39.000000,39.122501,36.947647,290954000,0
2018-02-06,38.707500,40.930000,38.500000,40.757500,38.491760,272975200,0
2018-02-07,40.772499,40.849998,39.767502,39.884998,37.667759,206434400,0
2018-02-08,40.072498,40.250000,38.757500,38.787498,36.631275,217562000,0
2018-02-09,39.267502,39.472500,37.560001,39.102501,37.079323,282690400,0
2018-02-12,39.625000,40.972500,39.377499,40.677502,38.572830,243278000,0
2018-02-13,40.487499,41.187500,40.412498,41.084999,38.959244,130196800,0
2018-02-14,40.759998,41.884998,40.720001,41.842499,39.677544,162579600,0
2018-02-15,42.447498,43.272499,42.250000,43.247501,41.009850,204588800,0
2018-02-16,43.090000,43.705002,42.942501,43.107498,40.877106,160704400,0
2018-02-20,43.012501,43.564999,42.855000,42.962502,40.739594,135722000,0
2018-02-21,43.207500,43.529999,42.752499,42.767502,40.554684,149886400,0
2018-02-22,42.950001,43.487499,42.927502,43.125000,40.893688,123967600,0
2018-02-23,43.417500,43.912498,43.384998,43.875000,41.604889,135249600,0
2018-02-26,44.087502,44.847500,44.052502,44.742500,42.427505,152648800,0
2018-02-27,44.775002,45.119999,44.540001,44.597500,42.290012,155712400,0
2018-02-28,44.814999,45.154999,44.512501,44.529999,42.226002,151128400,0
2018-03-01,44.634998,44.945000,43.165001,43.750000,41.486355,195208000,0
2018-03-02,43.200001,44.075001,43.112499,44.052502,41.773205,153816000,0
2018-03-05,43.802502,44.435001,43.630001,44.205002,41.917816,113605600,0
2018-03-06,44.477501,44.562500,44.032501,44.167500,41.882244,95154000,0
2018-03-07,43.735001,43.962502,43.567501,43.757500,41.493469,126814000,0
2018-03-08,43.869999,44.279999,43.767502,44.235001,41.946259,95096400,0
2018-03-09,44.490002,45.000000,44.347500,44.994999,42.666943,128740800,0
2018-03-12,45.072498,45.597500,45.052502,45.430000,43.079445,128828400,1
2018-03-13,45.647499,45.875000,44.810001,44.992500,42.664574,126774000,1
2018-03-14,45.080002,45.130001,44.452499,44.610001,42.301861,117473600,0